main {
  padding: 36px;
}
.form {
  /* display: grid; */
  display: flex;
  flex-direction: column;
  /* grid-template: 40px 40px / 1fr 1fr; */
  gap: 5px;
}
.form--inputs {
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: 2px solid;
  border-color: #f27121;
  text-indent: 5px;
  height: 22px;
}
.form--inputs:hover {
  border: 2px solid;
  border-color: #018bad;
}
.form--button {
  font-family: "Poppins", sans-serif;
  /* grid-column: 1 / -1; */
  border-radius: 5px;
  height: 40px;
  color: white;
  background: #8a2387; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    hsl(23, 89%, 54%),
    #e94057,
    #8a2387
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 0px;
  cursor: pointer;
}
.meme--image {
  max-width: 100%;
}
.meme {
  margin-top: 30px;
  position: relative;
}
.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}
.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
